<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style.css">
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <title>Document</title>
</head>
<body>
  <h2>체크박스로 표시하는 애니메이션</h2>
  <div id="app">
    <label><input type="checkbox" v-model="isOK">변경</label>
    <transition>
      <p v-if="isOK">표시/비표시의 애니메이션~~~~</p>
    </transition>
  </div>
  <script>
    new Vue({
      el:'#app',
      data:{
        isOK:false
      }
    })
  </script>
  <style>
    .v-enter-active,.v-leave-active{
      transition: 0.5s;
    }
    .v-enter,.v-leave-to{
      opacity: 0;
      transform: translateY(20px);
    }
  </style>
</body>
</html>